A {
	FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; 
}
A:hover {
	FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; 
}
A:link {
	FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; 
}

A.top {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; TEXT-DECORATION: none
}
A.top:hover {
	FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; TEXT-DECORATION: underline
}
A.top:link {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; TEXT-DECORATION: none
}

A.glow:hover {
	text-decoration: none;
	font-family: Goudy Old Style, Conneticut Gothic, Times New Roman;color: RED;}

A.glow {
	color: WHITE;
	text-decoration: none;
	font-family: Goudy Old Style, Conneticut Gothic, Times New Roman;
}
A.glow : link {
	color: WHITE;
	text-decoration: none;
	font-family: Goudy Old Style, Conneticut Gothic, Times New Roman;
}