A.menu {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; TEXT-DECORATION: none
}
A.menu:hover {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; TEXT-DECORATION: none
}
A.menu:link {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif; TEXT-DECORATION: none
}
 